.hero {
  background: linear-gradient(to right, #c9d6ff, #e2e2e2);
  box-sizing: border-box;
  font-family: sans-serif;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.hero-left {
  margin-left: 8%;
}

.hero-left h1 {
  font-size: 6rem;
}
.hero-left h3 {
  font-size: 2rem;
  padding-left: 4px;
}
.hero-left h4 {
  font-size: 1.2rem;
  padding-top: 2px;
  padding-left: 4px;
  font-weight: 200;
}
.social-buttons {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-left: 4px;
  gap: 15px;
  user-select: none;
}
.social-buttons button {
  display: absolute;
  z-index: 50;
}
/* Button 1 */
.Btn {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  position: relative;
  margin-top: 1px;
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.3s;
}

.svgContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  backdrop-filter: blur(0px);
  letter-spacing: 0.8px;
  border-radius: 10px;
  transition: all 0.3s;
  border: 1px solid rgba(156, 156, 156, 0.466);
}

.BG {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #181818;
  z-index: -1;
  border-radius: 10px;
  pointer-events: none;
  transition: all 0.3s;
}

.Btn:hover .BG {
  transform: rotate(35deg);
  transform-origin: bottom;
}

.Btn:hover .svgContainer {
  background-color: rgba(156, 156, 156, 0.466);
  backdrop-filter: blur(4px);
}
/* Button 2*/
.Btn-2 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: #0a66c2;
  padding-top: 2px;
  overflow-x: hidden;
  user-select: none;
}

.sign {
  width: 100%;
  transition-duration: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 25px;
}

.sign svg path {
  fill: white;
}
.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: 0.3s;
}

.Btn-2:hover {
  width: 135px;
  border-radius: 40px;
  transition-duration: 0.3s;
}

.Btn-2:hover .sign {
  width: 30%;
  transition-duration: 0.3s;
  padding-left: 10px;
}

.Btn-2:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: 0.3s;
  padding-right: 10px;
}
.Btn-2:active {
  transform: translate(2px, 2px);
}
/* Button 3 */
.loader {
  position: relative;
  border-style: solid;
  box-sizing: border-box;
  border-width: 20px 30px 15px 30px;
  border-color: #3760c9 #96ddfc #96ddfc #36bbf7;
  cursor: pointer;
  user-select: none;
}

/* Resume button */
.special-buttons {
  display: flex;
}
.resume {
  text-decoration: none;
  margin-top: 20px;
  margin-left: 4px;
  width: 150px;
}
.resume-button {
  position: relative;
  cursor: pointer;
  width: 150px;
  height: 40px;
  display: flex;
  align-items: center;
  border: 1px solid #17795e;
  background-color: #209978;
  overflow-x: hidden;
  user-select: none;
}

.resume-button,
.resume-button__icon,
.resume-button__text {
  transition: all 0.3s;
}

.resume-button .resume-button__text {
  transform: translateX(22px);
  color: #ffffffd0;
  font-weight: 600;
}

.resume-button .resume-button__icon {
  position: absolute;
  transform: translateX(109px);
  height: 100%;
  width: 40px;
  background-color: #17795e;
  display: flex;
  align-items: center;
  justify-content: center;
}

.resume-button .svg {
  width: 20px;
  fill: #fff;
}

.resume-button:hover {
  background: #17795e;
}

.resume-button:hover .resume-button__text {
  color: transparent;
}

.resume-button:hover .resume-button__icon {
  width: 148px;
  transform: translateX(0);
}

.resume-button:active .resume-button__icon {
  background-color: #146c54;
}

.resume-button:active {
  border: 1px solid #146c54;
}

.hero-right {
  margin-right: 8%;
  padding-top: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 4rem;
  border-radius: 15px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2),
    -10px -10px 20px rgba(255, 255, 255, 0.1);
  transform: translateZ(0);
  will-change: transform, opacity;
}
.dark-mode .hero {
  background: -webkit-linear-gradient(to right, #141e30, #243b55);
  background: linear-gradient(to right, #141e30, #243b55);
}
.dark-mode .hero-left h1 {
  color: hsla(0, 0%, 99%, 0.858);
}
.dark-mode .hero-left h3 {
  color: hsla(0, 0%, 99%, 0.653);
}
.dark-mode .hero-left {
  color: rgba(255, 255, 255, 0.422);
}
.dark-mode .hero-right {
  box-shadow: -10px -10px 20px rgba(0, 0, 0, 0.591),
    10px 10px 20px rgba(245, 234, 234, 0.2);
}
@media (max-width: 950px) {
  .hero-left {
    margin-left: 6%;
  }
  .hero-left h1 {
    font-size: 4rem;
    padding-left: 3px;
  }
  .hero-left h3 {
    font-size: 1.7rem;
  }
}
@media (max-width: 492px) {
  .hero {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #146c54;
    gap: 30px;
    margin-top: 20px;
  }
  .hero-left {
    margin-left: 4%;
    margin-right: 4%;
  }
  .hero-left h1 {
    font-size: 3rem;
  }
  .hero-left h3 {
    font-size: 1.7rem;
    padding-left: 4px;
  }
  .social-buttons {
    justify-content: center;
  }
  .special-buttons {
    justify-content: center;
  }
  .hero-right {
    padding: 20px;
    margin-top: 2rem;
    margin-right: 0;
  }
}
