.footer {
  height: auto;
  width: 100%;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  box-shadow: 0 -8px 24px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 1;
  background: linear-gradient(to right, #c9d6ff, #e2e2e2);
}
.back-to-top {
  right: 0;
  position: absolute;
}
.button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: transparent;
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
}

.svgIcon {
  width: 12px;
  transition-duration: 0.3s;
}

.svgIcon path {
  fill: black;
}

.main-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 20px;
}

.icons-copyright,
.animations-copyright,
.background-copyright {
  flex: 1;
  text-align: center;
}

.icons-copyright h4,
.animations-copyright h4,
.background-copyright h4 {
  padding-bottom: 10px;
  font-weight: bold;
  user-select: none;
}

.icons-copyright ul,
.animations-copyright ul,
.background-copyright ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.icons-copyright ul {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 8px 25px;
  justify-content: center;
}

.icons-copyright li:last-child {
  grid-column: 1 / -1;
  justify-self: center;
}

.animations-copyright ul {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.background-copyright ul {
  display: flex;
  justify-content: center;
}

.link:hover,
.link:hover,
.link:hover {
  color: rgba(0, 0, 0, 0.527);
  cursor: pointer;
}
.link {
  text-decoration: none;
  color: black;
}
.my-copyright {
  margin-bottom: 10px;
  user-select: none;
}

.dark-mode .svgIcon path {
  fill: white;
}
.dark-mode .button::before {
  color: white;
}
.dark-mode .link {
  color: rgba(255, 255, 255, 0.422);
}
.dark-mode .link:hover,
.dark-mode .link:hover,
.dark-mode .link:hover {
  color: rgba(255, 255, 255, 0.678);
}
.dark-mode .footer {
  background: linear-gradient(to right, #141e30, #243b55);
}
@media (max-width: 1285px) {
  .credits {
    display: none;
  }
  .credit-title {
    display: none;
  }
}
@media (max-width: 480px) {
  .footer {
    padding-bottom: 2rem;
    background: linear-gradient(to right, #c9d6ff, #e2e2e2);
  }
  .socials {
    margin-top: 20px;
  }
  .socials ul {
    gap: 20px;
  }
  .dark-mode .footer {
    background: linear-gradient(to right, #141e30, #243b55);
  }
  .credits {
    display: none;
  }
  .credit-title {
    display: none;
  }
}
