.about {
  font-family: sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100vw;
  background: linear-gradient(to right, #c9d6ff, #e2e2e2);
  padding-bottom: 2rem;
  overflow-y: auto;
}
.about-heading {
  font-size: 2rem;
  font-family: "Montserrat";
  font-weight: 400;
  margin-top: 40px;
  display: inline-block;
  color: black;
  user-select: none;
}
.about-heading::after {
  content: "";
  display: block;
  width: 60%;
  height: 3px;
  background: black;
  margin: 5px auto 0;
  border-radius: 2px;
}
.about-me {
  font-size: 1.5rem;
  margin-top: 50px;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
}
.hidden-link {
  text-decoration: none;
  color: black;
  font-size: 18px;
  cursor: pointer;
}
.word-box {
  display: flex;
  gap: 2px;
  font-size: 1.8rem;
  margin-top: 1rem;
  user-select: none;
}
.letter {
  display: inline-block;
}
/* Skills box */
.skills-container {
  display: grid;
  margin-top: 30px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Responsif */
  gap: 20px;
  width: 90%; /* Lebih lebar */
  max-width: 1200px;
}
.card-container {
  display: flex;
  align-items: center;
  height: 70px;
  padding: 5px 5px;
  border: 1px solid transparent;
  border-radius: 10px;
  outline: none;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.img-container {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.459);
  user-select: none;
}
.skill-img {
  width: 32px;
  height: 32px;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 3px;
}
.rotate {
  animation: spin 5s linear infinite;
}
.skills-wrapper {
  width: 100%;
  flex: 1;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.skill-text {
  display: flex;
  flex-direction: column;
}
.skill-title {
  font-size: 18px;
  font-family: Montserrat;
  font-weight: 600;
  padding-top: 25px;
  color: black;
  align-self: start;
  margin: 0;
}

.skills-container .skill-desc {
  font-family: Montserrat;
  font-size: 15px;
  color: black;
  font-weight: 400;
  align-self: start;
  padding-bottom: 25px;
  margin: 0;
}
.dark-mode .about {
  background: -webkit-linear-gradient(to right, #141e30, #243b55);
  background: linear-gradient(to right, #141e30, #243b55);
}
.dark-mode .about-heading {
  color: hsla(0, 0%, 99%, 0.858);
}
.dark-mode .marquee-title span {
  color: hsla(0, 0%, 99%, 0.858);
}
.dark-mode .skill-title {
  color: hsla(0, 0%, 99%, 0.858);
}
.dark-mode .skills-container .skill-desc {
  color: rgba(255, 255, 255, 0.422);
}
.dark-mode .card-container {
  background-color: rgba(255, 255, 255, 0.09);
}
.dark-mode .img-container {
  background: rgba(253, 253, 253, 0.215);
}
.dark-mode .about-me {
  color: rgba(255, 255, 255, 0.422);
}
.dark-mode .about-heading::after {
  background: white;
}
.dark-mode .hidden-link {
  color: rgba(255, 255, 255, 0.422);
}
.dark-mode .word-box {
  color: hsla(0, 0%, 99%, 0.858);
}

@media (max-width: 950px) {
  .about-heading {
    font-size: 1.8rem;
  }
  .about-me {
    font-size: 1.3rem;
    padding: 0;
    margin-top: 2rem;
    margin-left: 4%;
    margin-right: 4%;
  }
  .word-box {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 1.5rem;
  }
  .skills-container {
    width: auto;
    margin-left: 5%;
    margin-right: 5%;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 20px;
  }
  .card-container {
    height: 65px;
    width: 200px;
    padding: 2px 2px;
    margin-bottom: 5px;
  }

  .img-container {
    padding-top: 4px;
    padding-bottom: 4px;
  }
  .skill-img {
    height: 27px;
    width: 27px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .skill-title {
    font-size: 16px;
  }
  .skills-container .skill-desc {
    font-size: 13px;
  }
}

@media (max-width: 492px) {
  .about-heading {
    font-size: 1.7rem;
  }
  .about-me {
    font-size: 1.2rem;
    padding: 0;
    margin-top: 2rem;
    margin-left: 4%;
    margin-right: 4%;
  }
  .word-box {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 1.5rem;
  }
  .skills-container {
    margin: 0;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    grid-template-columns: repeat(2, 1fr);
  }
  .card-container {
    height: 65px;
    width: auto;
    padding: 2px 2px;
    margin-bottom: 5px;
  }
  .img-container {
    padding-top: 4px;
    padding-bottom: 4px;
  }
  .skill-img {
    height: 27px;
    width: 27px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .skill-title {
    font-size: 16px;
  }
  .skills-container .skill-desc {
    font-size: 13px;
  }
}
