
html {
  scrollbar-width: none;
}

body {
  margin: 0;
  background-color: #C9D6FF;
  color: black;
  -webkit-tap-highlight-color: transparent;
  overflow-x: hidden;
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #C9D6FF, #E2E2E2);
  z-index: -1; 
}

.scroll-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 4px;
  background: rgba(92, 6, 150, 0.267);
  transform-origin: 0%;
  width: 100%;
  z-index: 1200;
}

.navbar {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  font-family: 'Montserrat';
  font-weight: 500;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 20px;
  padding-bottom: 5px;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(to right, #C9D6FF, #E2E2E2);
  font-size: 1.2rem;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  z-index: 1100;
}

.navbar.scrolled {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2),
              -5px -5px 5px rgba(255, 255, 255, 0.1);
}

.navbar-left {
  font-size: 1.5rem;
}

.navbar-right {
  display: flex;
  gap: 10px;
  user-select: none;
}

.nav-list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 25px;
  padding: 10px 15px;
  margin: 0;
}

.nav-list li {
  cursor: pointer;
}
.nav-list li.active {
  position: relative;
}
.nav-list li.active::before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 3px;
  background: black;
  border-radius: 2px;
  transition: all 0.3s ease;
}
/* Dark mode switch */
.dark-mode-toggle-container {
  display: flex;
  align-items: center;
}

.navbar-right label {
  width: 65px;
  height: 30px;
  position: relative;
  display: block;
  background: #45454525;
  border-radius: 30px;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3),
              inset 0px -1px 3px rgba(255, 255, 255, 0.3);
  cursor: pointer;
  transition: 0.3s;
}

.navbar-right label:after {
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  top: 3px;
  left: 3px;
  background: linear-gradient(180deg, #C9D6FF, #E2E2E2);
  border-radius: 50%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.navbar-right input {
  width: 0;
  height: 0;
  visibility: hidden;
}

.navbar-right input:checked + label {
  background: rgb(179, 179, 179);
}

.navbar-right input:checked + label:after {
  transform: translateX(35px);
  background: linear-gradient(to bottom, #141e30, #243b55);
}

.navbar-right label:active:after {
  width: 30px;
}

.navbar-right input:checked + label:active:after {
  width: 30px;
  left: -3px;
}

/* Hamburger icon */
#nav-icon3 {
  width: 30px;
  height: 22px;
  margin: 0;
  display: none;
  vertical-align: middle;
  position: relative;
  top: 4px;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon3 span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: black;
  border-radius: 4px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

#nav-icon3 span:nth-child(1) { top: 0px; }
#nav-icon3 span:nth-child(2),
#nav-icon3 span:nth-child(3) { top: 9px; }
#nav-icon3 span:nth-child(4) { top: 18px; }

#nav-icon3.open span:nth-child(1) {
  top: 9px;
  width: 0%;
  left: 50%;
}
#nav-icon3.open span:nth-child(2) {
  transform: rotate(45deg);
}
#nav-icon3.open span:nth-child(3) {
  transform: rotate(-45deg);
}
#nav-icon3.open span:nth-child(4) {
  top: 9px;
  width: 0%;
  left: 50%;
}

body.dark-mode {
  color: rgba(255, 255, 255, 0.422);
  background: linear-gradient(to right, #141e30, #243b55);
}

body.dark-mode::before {
  background: linear-gradient(to right, #141e30, #243b55);
}

.dark-mode .navbar {
  background: linear-gradient(to right, #141e30, #243b55);
  color: hsla(0, 0%, 99%, 0.858);
}

.dark-mode #nav-icon3 span {
  background: rgb(173, 173, 173);
}
.dark-mode .nav-list li.active::before {
  background: white;
}
.dark-mode .scroll-bar {
  background: #ffffff80;
}

.dark-mode .navbar.scrolled {
  box-shadow: 5px 5px 20px rgba(188, 188, 188, 0.2);
}

@media (max-width: 600px) {
  .navbar {
    padding-top: 1rem;
    padding-bottom: 0.75rem;
    padding-left: 1.7rem;
    padding-right: 1.7rem;
    font-size: 1rem;
    flex-wrap: wrap;
  }

  .navbar-left {
    font-size: 1.2rem;
    font-weight: 600;
  }

  .dark-mode-toggle-container {
    scale: 0.9;
  }

  #nav-icon3 {
    display: block;
    cursor: pointer;
  }

  .nav-list {
    display: none;
    position: absolute;
    top: 60px;
    right: 5px;
    background: #E2E2E2;
    flex-direction: column;
    width: 150px;
    padding: 1rem;
    border-radius: 10px;
    border-right: 1px solid rgba(255, 255, 255, 0.4);
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2),
                -10px -10px 20px rgba(255, 255, 255, 0.1);
  }

  .nav-list.show {
    display: flex;
  }

  .nav-list li {
    padding: 1px 2px;
  }

  .dark-mode .nav-list {
    background: #243b55;
    border-radius: 12px;
    color: rgb(255, 255, 255);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(255, 255, 255, 0.08);
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6),
                -10px -10px 20px rgba(255, 255, 255, 0.05);
  }
}